* {
  margin: 0;
  padding: 0; }

* {
  font-family: "roboto", sans-serif; }

h1 {
  font-family: "libre baskerville", serif;
  font-weight: bold;
  font-size: 40px;
  margin: 0px 20px 20px 20px; }

a {
  text-decoration: none; }

li {
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  border-radius: 5px; }

header {
  background-color: #ffffcc; }
  header div nav div .tipografiaLogo {
    font-family: "cormorant upright", serif;
    font-style: italic;
    font-weight: bold; }
  header div nav div div ul li .nav__anchor {
    color: white !important;
    font-weight: bold; }
  header div nav div div ul li .views {
    font-weight: bold; }

.index__background {
  background-color: #f2f2f2; }
  .index__background section div .section2__iconos {
    margin-bottom: 40px; }
  .index__background section div .section2__texto {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 100px 0px; }
  .index__background section div .section2__pregunta {
    text-align: center;
    font-family: "libre baskerville", serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 50px; }

footer {
  background-color: #ffffcc; }
  footer .footer__sections {
    margin: 10px 0px; }
    footer .footer__sections a .tipografiaLogo {
      font-family: "cormorant upright", serif;
      font-style: italic;
      font-weight: bold;
      color: black; }
    footer .footer__sections a .mailLogo {
      width: 32px;
      height: 32px; }
    footer .footer__sections .redes__iconos {
      transform: scale(1.1, 1.1); }
      footer .footer__sections .redes__iconos a .redes__facebook {
        padding: 0px 15px 0px 15px; }
      footer .footer__sections .redes__iconos a .redes__instagram {
        padding: 0px 15px 0px 15px; }
      footer .footer__sections .redes__iconos a .redes__linkedin {
        padding: 0px 15px 0px 15px; }

@media (max-width: 768px) {
  nav div .tipografiaLogo {
    font-size: 25px; }
  main section .indexImg1 {
    background-image: url("../assets/img/foco_idea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 325px; }
    main section .indexImg1 h1 {
      color: beige;
      font-size: 35px;
      margin: 30px 0px 0px 0px;
      text-align: center;
      text-shadow: 1px 2px 1px ghostwhite; }
    main section .indexImg1 .section1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
  main section div .iconos__edicion {
    margin: 50px 10px 0px 10px;
    width: 100px;
    height: 100px; }
  main section div .icono__palabra {
    font-size: 16px;
    font-weight: bold; }
  main section div .icono__texto {
    display: none; }
  main section .indexImg2 {
    background-image: url("../assets/img/cuaderno.jpg");
    width: 100%;
    height: 325px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
    main section .indexImg2 .section3__frase {
      color: snow;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-top: 50px;
      text-shadow: 1px 2px 1px black; }
  .footerMobile {
    display: flex;
    flex-direction: column-reverse; }
    .footerMobile .footer__sections div .contacto__texto {
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      margin-top: 15px; }
    .footerMobile .footer__sections div .redes__texto {
      font-size: 15px;
      font-weight: bold;
      text-align: right;
      margin: 15px 10px 15px 0px; }
    .footerMobile .footer__sections div .copyright__texto {
      font-size: 12px;
      text-transform: capitalize;
      margin-left: 25px; }
    .footerMobile .footer__sections a .tipografiaLogo {
      font-size: 25px; }
    .footerMobile .footer__sections a .mailDireccion {
      margin: 5px 0px 5px 0px;
      padding: 5px;
      font-size: 13px;
      font-weight: bold;
      color: black; }
    .footerMobile .contacto__whatsapp {
      display: flex;
      flex-direction: row; }
      .footerMobile .contacto__whatsapp .whatsappLogo {
        width: 32px !important;
        height: 32px !important; }
      .footerMobile .contacto__whatsapp .whatsapp {
        margin-top: 5px;
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        color: black; } }

@media (min-width: 992px) {
  nav div .tipografiaLogo {
    font-size: 40px; }
  nav div div ul li {
    padding: 20px; }
  main section .indexImg1 {
    background-image: url("../assets/img/foco_idea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px; }
    main section .indexImg1 .section1__h1 {
      color: beige;
      font-size: 80px;
      margin-right: 250px;
      text-shadow: 1px 2px 1px 2px ghostwhite; }
  main section div .iconos__edicion {
    margin: 50px 10px 20px 10px;
    width: 150px;
    height: 150px; }
  main section div .icono__palabra {
    font-size: 20px;
    font-weight: bold; }
  main section div .section3__frase {
    color: snow;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 1px 2px 1px black; }
  main section .indexImg2 {
    background-image: url("../assets/img/cuaderno.jpg");
    width: 100%;
    height: 700px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; }
  footer div div .contacto__texto {
    font-size: 20px;
    text-align: center;
    font-weight: bold; }
  footer div div .redes__texto {
    font-size: 20px;
    text-align: center;
    margin-bottom: 27px;
    font-weight: bold; }
  footer div div .copyright__texto {
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 60px; }
  footer div a .tipografiaLogo {
    font-size: 40px; }
  footer div .contacto__whatsapp {
    position: fixed;
    left: 1220px;
    bottom: 20px; }
    footer div .contacto__whatsapp .whatsapp {
      display: none; }
  footer div .contacto__mail .mailDireccion {
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    color: black; } }
