* {
  margin: 0;
  padding: 0; }

* {
  font-family: "libre baskerville", serif; }

h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0px 20px 20px 20px; }

a {
  text-decoration: none; }

li {
  list-style-type: none;
  margin: 10px;
  border-radius: 5px; }

.nav-link {
  font-size: 15px; }

.centrar {
  text-align: center; }

.views__background {
  background-color: #FDFCE5; }

header {
  background-color: #ffffcc; }
  header div nav div .tipografiaLogo {
    font-family: "cormorant upright", serif;
    font-style: italic;
    font-weight: bold; }
    header div nav div .tipografiaLogo .logo__nombre {
      color: crimson;
      font-family: "cormorant upright", serif; }
  header div nav div div ul li .nav__anchor {
    color: white !important;
    font-weight: bold; }
  header div nav div div ul li .views {
    font-weight: bold; }

.index__background {
  background-color: #f2f2f2; }
  .index__background section div .section2__texto {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 100px 0px; }
  .index__background section div .section2__pregunta {
    text-align: center;
    font-family: "libre baskerville", serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 50px; }
  .index__background .section2__iconos {
    margin-bottom: 50px; }

main section div .main__imagen {
  margin-bottom: 50px; }

main section div .edicionParrafos {
  line-height: 1.6;
  font-size: 18px;
  text-align: justify;
  margin: 0px 10px 0px 10px; }

main section div .edicionFrase {
  text-align: center;
  font-size: 20px;
  font-weight: bold; }

main section .oracionFinal {
  border-color: black;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  background-image: linear-gradient(to top, #fee3f3, #fee4f4, #fee6f6, #ffe7f7, #ffe8f8, #fbeafb, #f7edfe, #f3efff, #ecf4ff, #e6f8ff, #e3fcff, #e5fffd); }

main .parrafos {
  margin-bottom: 30px; }

main section div .edicionMapas {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  width: 100%;
  height: 150px;
  margin: 10px 0px; }

main section div .pagos__encabezado {
  text-align: center;
  font-family: "libre baskerville", serif;
  font-size: 20px;
  font-weight: bold;
  margin: 75px 75px 0px 75px; }

main .iconos {
  margin-bottom: 50px; }

main section div .main__encabezados {
  text-align: center;
  font-family: "libre baskerville", serif;
  font-size: 30px;
  font-weight: bold;
  margin: 50px 0px 50px 0px; }

main section .cardArea {
  margin-bottom: 30px; }
  main section .cardArea div .imagenesAsignaturas {
    width: 100%;
    height: 185px;
    border-width: 2px; }
  main section .cardArea div div .nombreAsignaturas {
    font-weight: bold;
    font-family: "libre baskerville", serif;
    text-align: center;
    font-size: 15px; }

main section div .contacto__oracion {
  margin-top: 50px; }

main form {
  padding: 75px; }
  main form .formulario__bg {
    background-color: beige; }
  main form section div .form-label {
    font-size: 20px;
    font-weight: bold;
    color: black; }
  main form section div .areaLabel {
    margin-top: 15px; }
  main form section div .btn-primary, main form section div .boton--enviar, main form section div .boton--restablecer {
    width: 200px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: black;
    border-radius: 20px;
    margin: 50px 0px; }
  main form section div .boton--enviar {
    background-color: lightblue; }
  main form section div .boton--restablecer {
    background-color: lightcyan; }

footer {
  background-color: #ffffcc; }
  footer .footer__sections {
    margin: 10px 0px; }
    footer .footer__sections a .tipografiaLogo {
      font-family: "cormorant upright", serif;
      font-style: italic;
      font-weight: bold;
      color: black; }
      footer .footer__sections a .tipografiaLogo .logo__nombre {
        color: crimson;
        font-family: "cormorant upright", serif; }
    footer .footer__sections a .mailLogo {
      width: 32px;
      height: 32px; }
    footer .footer__sections .redes__iconos {
      transform: scale(1.1, 1.1); }
      footer .footer__sections .redes__iconos a .redes__facebook {
        padding: 0px 15px 0px 15px; }
      footer .footer__sections .redes__iconos a .redes__instagram {
        padding: 0px 15px 0px 15px; }
      footer .footer__sections .redes__iconos a .redes__linkedin {
        padding: 0px 15px 0px 15px; }
    footer .footer__sections .copyright__texto {
      text-transform: capitalize;
      font-size: 13px; }

@media (max-width: 768px) {
  nav div .tipografiaLogo {
    font-size: 25px; }
  main section .indexImg1 {
    background-image: url("../assets/img/foco_idea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 325px; }
    main section .indexImg1 h1 {
      color: beige;
      font-size: 35px;
      margin: 30px 0px 0px 0px;
      text-align: center;
      text-shadow: 1px 2px 1px ghostwhite; }
    main section .indexImg1 .section1 {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
  main section div .iconos__edicion {
    margin: 50px 10px 0px 10px;
    width: 100px;
    height: 100px; }
  main section div .icono__palabra {
    font-size: 16px;
    font-weight: bold; }
  main section div .icono__texto {
    display: none; }
  main section .indexImg2 {
    background-image: url("../assets/img/cuaderno.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 325px; }
    main section .indexImg2 .section3__frase {
      color: snow;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-top: 50px;
      text-shadow: 1px 2px 1px black; }
  main section div .edicionEncabezados {
    padding: 0px 0px 10px 0px;
    margin-top: 20px;
    color: #2e2e1f;
    font-family: "libre baskerville", serif;
    text-align: center; }
  main section div div .imagenesMobile {
    width: 100%;
    height: 300px; }
  footer .footer__sections div .contacto__texto {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px; }
  footer .footer__sections div .redes__texto {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin: 15px 10px 15px 0px; }
  footer .footer__sections div .copyright__texto {
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 25px; }
  footer .footer__sections a .tipografiaLogo {
    font-size: 25px; }
  footer .footer__sections a .mailDireccion {
    margin: 5px 0px 5px 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: black; }
  footer .contacto__whatsapp {
    display: flex;
    flex-direction: row; }
    footer .contacto__whatsapp .whatsappLogo {
      width: 32px !important;
      height: 32px !important; }
    footer .contacto__whatsapp .whatsapp {
      margin-top: 5px;
      padding: 5px;
      font-size: 13px;
      font-weight: bold;
      color: black; } }

@media (min-width: 992px) {
  nav div .tipografiaLogo {
    font-size: 40px; }
  nav div div ul li {
    padding: 20px; }
  main section .indexImg1 {
    background-image: url("../assets/img/foco_idea.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px; }
    main section .indexImg1 .section1__h1 {
      color: beige;
      font-size: 100px;
      text-shadow: 1px 2px 1px 2px ghostwhite;
      text-align: center; }
  main section div .iconos__edicion {
    margin: 50px 10px 20px 10px;
    width: 150px;
    height: 150px; }
  main section div .icono__palabra {
    font-size: 20px;
    font-weight: bold; }
  main section div .section3__frase {
    color: snow;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 1px 2px 1px black; }
  main section .indexImg2 {
    background-image: url("../assets/img/cuaderno.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px; }
  main section div .edicionEncabezados {
    padding: 0px 0px 10px 0px;
    margin: 20px 10px 20px 0px;
    color: #2e2e1f;
    font-size: 30px;
    font-family: "libre baskerville", serif;
    font-weight: bold;
    text-align: left; }
  main section div div .imagenDesktop {
    height: 300px; }
  footer div div .contacto__texto {
    font-size: 20px;
    text-align: center;
    font-weight: bold; }
  footer div div .redes__texto {
    font-size: 20px;
    text-align: center;
    margin-bottom: 27px;
    font-weight: bold; }
  footer div div .copyright__texto {
    font-size: 12px;
    text-transform: capitalize;
    margin-left: 60px; }
  footer div a .tipografiaLogo {
    font-size: 40px; }
  footer div .contacto__whatsapp {
    position: fixed;
    left: 1220px;
    bottom: 20px; }
    footer div .contacto__whatsapp .whatsapp {
      display: none; }
  footer div .contacto__mail .mailDireccion {
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    color: black; }
  .footerDesktop {
    display: flex;
    flex-direction: row-reverse; } }
