// Estilos generales INDEX

.index__background{
	background-color: $indexBg; 
	section{
		div{
			.section2__texto{
	            text-align: center;
	            font-weight: bold;
	            margin: 100px 0px;
            }
            .section2__pregunta{
	            text-align: center;
	            font-family: "libre baskerville", serif;
	            font-weight: bold;
	            font-size: 25px;
	            margin-bottom: 50px;
            }
		}
	}
	.section2__iconos{
		margin-bottom: 50px;
	}
}

// Estilos generales ACERCA DE MÍ

main{
	section{
		div{
			.main__imagen{
				margin-bottom: 50px;
			}
			.edicionParrafos{
				line-height: map-get($estilosParrafos, interlineado);
				font-size: map-get($estilosParrafos, tFuente);
				text-align: map-get($estilosParrafos, justificado);
				margin: map-get($estilosParrafos, margenesHorizontales);
			}
			.edicionFrase{
				text-align: center;
	            font-size: 20px;
	            font-weight: bold;
			}
		}
		.oracionFinal{
			border-color: black;
	        border-style: solid;
	        border-width: 2px 0px 2px 0px;
	        background-image: $frasesGradient;
		}
	}
	.parrafos{
		margin-bottom: 30px;
	}
}

// Estilos generales SERVICIOS

main{
	section{
		div{
			.edicionMapas{
				border-color: black;
	            border-style: solid;
	            border-width: 2px;
	            width: 100%;
	            height: 150px;
	            margin: 10px 0px;
			}
			.pagos__encabezado{
				text-align: center;
	            font-family: "libre baskerville", serif;
	            font-size: 20px;
	            font-weight: bold;
	            margin: 75px 75px 0px 75px;            
			}
			div{
				div{
					.edicionEncabezados{
						font-weight: bold;
						text-align: center;
					}
				}
			}
		}
	}
	.iconos{
		margin-bottom: 50px;
	}
}

// Estilos generales ASIGNATURAS

main{
	section{
		div{
			.main__encabezados{
                text-align: center;
	            font-family: "libre baskerville", serif;
	            font-size: 30px;
	            font-weight: bold;
	            margin: 50px 0px 50px 0px; 
			}
			.mainTexto{
				margin-top: 50px;
				font-size: 20px;
				text-align: center;
			}
		}
		.cardArea{
			margin-bottom: 30px;
			div{
				.imagenesAsignaturas{
					width: 100%;
	                height: 185px;
	                border-width: 2px;
				}
				div{
					.nombreAsignaturas{
						font-weight: bold;
	                    font-family: "libre baskerville", serif;
	                    text-align: center;
	                    font-size: 15px;
					}
				}
			}
		}
	}
}

// Estilos generales CONTACTO

main{
	section{
		div{
			.contacto__oracion{
				margin-top: 50px;
				font-size: 20px;
				text-align: center;
			}
		}
	}
	form{
		padding: 75px;
		.formulario__bg{
			background-color: beige;
		}
	    section{
		   div{
			   .form-label{
				   font-size: 20px;
	               font-weight: bold;
	               color: black;  
			   }
			   .areaLabel{
				   margin-top: 15px;
			   }
			   .btn-primary{
				   width: 200px;
				   height: 40px;
				   text-align: center;
				   font-weight: bold;
				   color: black;
				   border-radius: 20px;
				   margin: 50px 0px; 
			   }
			   .boton--enviar{
				   @extend .btn-primary;
				   background-color: lightblue;
			   }
			   .boton--restablecer{
				   @extend .btn-primary;
				   background-color: lightcyan;
			   }
		   }
	   }
    }
} 