// Media querie mobile

@media (max-width: 768px){

//Estilos generales

nav{
	div{
		.tipografiaLogo{
			font-size: 25px;
		}
	}
}

// Estilo INDEX

@mixin background-images-mobilestyles{
	width: 100%;
	height: 325px;
}

main{
	section{
		.indexImg1{
			background-image:url("../assets/img/foco_idea.jpg");
	        background-position: center;
	        background-repeat: no-repeat;
	        background-size: cover;
	        @include background-images-mobilestyles;
	         h1{
	        	color: beige;
	            font-size: 35px;
	            margin: 30px 0px 0px 0px;
	            text-align: center;
	            text-shadow: 1px 2px 1px ghostwhite;
	        }
		.section1{
			display: flex;
	        flex-direction: column;
	        justify-content: flex-start;
		  }
		}
		div{
			.iconos__edicion{
				margin: 50px 10px 0px 10px;
	            width: 100px;
	            height: 100px;
			}
			.icono__palabra{
				font-size: 16px;
	            font-weight: bold;
			}
			.icono__texto{
				display:none;
			}
		}
		.indexImg2{
			background-image: url("../assets/img/cuaderno.jpg");
	        background-position: top;
	        background-repeat: no-repeat;
	        background-size: cover;
	        @include background-images-mobilestyles;
	        .section3__frase{
	        	color: snow;
	            text-align: center;
	            font-size: 30px;
	            font-weight: bold;
	            margin-top: 50px ;
	            text-shadow: 1px 2px 1px black;
	        }
		  }
		}
	}

// Estilo ACERCA DE MÍ

main{
	section{
		div{
			.edicionEncabezados{
	        padding: 0px 0px 10px 0px;
	        margin-top: 20px;
	        color: #2e2e1f;
	        font-family: "libre baskerville", serif;
	        text-align: center;
            }
		}
	}
} 

// Estilo SERVICIOS

@mixin imagenes-mobile{
	width: 100%;
	height:300px;
}

main{
	section{
		div{
			div{
				.imagenesMobile{
                    @include imagenes-mobile;
				}
			}
		}
	}
}

// Estilo footer

footer{
	.footer__sections{
		div{
			.contacto__texto{
				font-size: 15px;
	            font-weight: bold;
	            text-align: center;
	            margin-top: 15px;
			}
			.redes__texto{
				font-size: 15px;
	            font-weight: bold;
	            text-align: right;
	            margin: 15px 10px 15px 0px;
			}
			.copyright__texto{
				font-size: 12px;
	            text-transform: capitalize;
	            margin-left: 25px;
			}
		}
		a{
			.tipografiaLogo{
				font-size: 25px;
			}
			.mailDireccion{
				margin: 5px 0px 5px 0px;
	            padding: 5px;
	            font-size: 13px;
	            font-weight: bold;
	            color: black;
			}
		}
	}
	.contacto__whatsapp{
		display: flex;
		flex-direction: row;
		.whatsappLogo{
			width: 32px !important;
			height: 32px !important;
		}
		.whatsapp{
			margin-top: 5px;
	        padding: 5px;
	        font-size: 13px;
	        font-weight: bold;
	        color: black;
		}
	}
}
}

// Media querie md

@media (min-width:769px) and (max-width: 991px){

// Estilos generales

nav {
	div{
		.tipografiaLogo{
			font-size: 35px;
		}
		div{
			ul{
				li{
					padding: 20px;
				}
			}
		}
		
	}
}

// Estilo INDEX

@mixin background-images-desktopstyles{
	width: 100%;
	height: 650px;
}

main{
	section{
		.indexImg1{
           background-image:url("../assets/img/foco_idea.jpg");
	       background-position: center;
	       background-repeat: no-repeat;
	       background-size: cover;
	       @include background-images-desktopstyles;
	       .section1__h1{
	       	   color: beige;
	           font-size: 95px;
	           text-shadow: 1px 2px 1px 2px ghostwhite;
	           text-align: center;
	       }       
		}
		div{
			.iconos__edicion{
				margin: 50px 10px 20px 10px;
	            width: 150px;
	            height: 150px;
			}
			.icono__palabra{
				font-size: 18px;
	            font-weight: bold;
			}
			.icono__texto{
				font-size: 15px;
				text-align: center;
			}
			.section3__frase{
				color: snow;
	            text-align: center;
	            font-size: 45px;
	            font-weight: bold;
	            margin-top: 50px;
	            text-shadow: 1px 2px 1px black;
			}
		}
		.indexImg2{
			background-image: url("../assets/img/cuaderno.jpg");
	        background-position: top;
	        background-repeat: no-repeat;
	        background-size: cover;
	        @include background-images-desktopstyles;
		}
	}
}

// Estilo ACERCA DE MÍ

main{
	section{
		div{
			.edicionEncabezados{
	            padding: 0px 0px 10px 0px;
	            margin: 20px 10px 20px 0px ;
	            color: #2e2e1f;
	            font-size: 25px;
	            font-family: "libre baskerville", serif;
	            font-weight: bold;
	            text-align: left;
            }            
		}
	}
}

// Estilo SERVICIOS

@mixin imagenes-mdscreen{
	width: 100%;
	height: 300px;
}

main{
	section{
		div{
			div{
				.card-img-top{
					@include imagenes-mdscreen;
				}
				div{
					.iframes{
						display: flex;
						flex-direction: row;
					}
				}
			}
		}
	}
}

// Estilo footer

footer{
	div{
		div{
			.contacto__texto{
				font-size: 20px;
	            text-align: center;
	            font-weight: bold;
			}
			.redes__texto{
				font-size: 20px;
	            text-align: center;
	            margin-bottom: 27px;
	            font-weight: bold;
			}
			.copyright__texto{
				font-size: 12px;
	            text-transform: capitalize;
	            margin-left: 60px;
			}
		}
		a{
			.tipografiaLogo{
				font-size: 35px;
			}
		}
		.contacto__whatsapp{
			position: fixed;
	        left: 1220px;
	        bottom: 20px;
	        .whatsapp{
	        	display: none;
	        }
		}
		.contacto__mail{
			.mailDireccion{
				padding: 5px;
	            font-size: 12px;
	            font-weight: bold;
	            color: black;
			}
		}
	}
}

// Estilo footer

.footerDesktop{
	display: flex;
	flex-direction: row-reverse;
}
}

// Media querie desktop

@media (min-width: 992px){

// Estilos generales

nav {
	div{
		.tipografiaLogo{
			font-size: 40px;
		}
		div{
			ul{
				li{
					padding: 20px;
				}
			}
		}
		
	}
}

// Estilo INDEX

@mixin background-images-desktopstyles{
	width: 100%;
	height: 650px;
}

main{
	section{
		.indexImg1{
           background-image:url("../assets/img/foco_idea.jpg");
	       background-position: center;
	       background-repeat: no-repeat;
	       background-size: cover;
	       @include background-images-desktopstyles;
	       .section1__h1{
	       	   color: beige;
	           font-size: 100px;
	           text-shadow: 1px 2px 1px 2px ghostwhite;
	           text-align: center;
	       }       
		}
		div{
			.iconos__edicion{
				margin: 50px 10px 20px 10px;
	            width: 150px;
	            height: 150px;
			}
			.icono__palabra{
				font-size: 20px;
	            font-weight: bold;
			}
			.section3__frase{
				color: snow;
	            text-align: center;
	            font-size: 50px;
	            font-weight: bold;
	            margin-top: 50px;
	            text-shadow: 1px 2px 1px black;
			}
		}
		.indexImg2{
			background-image: url("../assets/img/cuaderno.jpg");
	        background-position: top;
	        background-repeat: no-repeat;
	        background-size: cover;
	        @include background-images-desktopstyles;
		}
	}
}

// Estilo ACERCA DE MÍ

main{
	section{
		div{
			.edicionEncabezados{
	            padding: 0px 0px 10px 0px;
	            margin: 20px 10px 20px 0px ;
	            color: #2e2e1f;
	            font-size: 30px;
	            font-family: "libre baskerville", serif;
	            font-weight: bold;
	            text-align: left;
            }            
		}
	}
}

// Estilo SERVICIOS

main{
	section{
		div{
			div{
				.imagenDesktop{
					width: 100%;
					height: 300px;
				}
				div{
					.iframes{
						display: flex;
						flex-direction: row;
					}
				}
			}
		}
	}
}

// Estilo footer

footer{
	div{
		div{
			.contacto__texto{
				font-size: 20px;
	            text-align: center;
	            font-weight: bold;
			}
			.redes__texto{
				font-size: 20px;
	            text-align: center;
	            margin-bottom: 27px;
	            font-weight: bold;
			}
			.copyright__texto{
				font-size: 12px;
	            text-transform: capitalize;
	            margin-left: 60px;
			}
		}
		a{
			.tipografiaLogo{
				font-size: 40px;
			}
		}
		.contacto__whatsapp{
			position: fixed;
	        left: 1220px;
	        bottom: 20px;
	        .whatsapp{
	        	display: none;
	        }
		}
		.contacto__mail{
			.mailDireccion{
				padding: 5px;
	            font-size: 15px;
	            font-weight: bold;
	            color: black;
			}
		}
	}
}

// Estilo footer

.footerDesktop{
	display: flex;
	flex-direction: row-reverse;
}
}