$headerAndFooterBg: #ffffcc;
$generalFont: "roboto", sans-serif;
$titlesFont: "libre baskerville", serif;
$logoFont: "cormorant upright", serif;
$navAnchorsColor: white;
$linksColor: blue;
$redesPadding: 0px 15px 0px 15px;
$indexBg: #f2f2f2;
$redesTransform: scale(1.1,1.1);
 