$headerAndFooterBg: #ffffcc;
$generalFont: "libre baskerville", serif;
$logoFont: "cormorant upright", serif;
$navAnchorsColor: white;
$linksColor: blue;
$redesPadding: 0px 15px 0px 15px;
$indexBg: #f2f2f2;
$viewsBg: #FDFCE5;
$redesTransform: scale(1.1,1.1);
$h1Center: center;
$frasesGradient: linear-gradient(to top, #fee3f3, #fee4f4, #fee6f6, #ffe7f7, #ffe8f8, #fbeafb, #f7edfe, #f3efff, #ecf4ff, #e6f8ff, #e3fcff, #e5fffd);
$estilosParrafos: (
	interlineado: 1.6,
	tFuente: 18px,
	justificado: justify,
	margenesHorizontales: 0px 10px 0px 10px
	); 