footer {
	background-color: $headerAndFooterBg;
    .footer__sections{
    	margin: 10px 0px;
	    a{
	    	.tipografiaLogo{
	    		font-family: $logoFont;
				font-style: italic;
				font-weight: bold;
				color: black;
	    	}
		    .mailLogo{
			    width: 32px;
	            height: 32px;
		    }
	    }
	    .redes__iconos{
		        transform: $redesTransform;
		        a{
		        	.redes__facebook{
                        padding: $redesPadding;  
		            }
		            .redes__instagram{
                        padding: $redesPadding;
		            }
		            .redes__linkedin{
                        padding: $redesPadding;
		            }
		        }
            }
        }
}

