header {
	background-color: $headerAndFooterBg;
	div{
		nav{
			div{
				.tipografiaLogo{
					font-family: $logoFont;
					font-style: italic;
					font-weight: bold;
					.logo__nombre{
						color: crimson;
						font-family: $logoFont;
					}
				}
			div{
				ul{
					li{
	                    .nav__anchor{
	                    	color:$navAnchorsColor !important;
	                    	font-weight: bold;
	                    }
	                    .views{
	                    	font-weight: bold;
	                    }
					}
				}
			}	
			}
		}
	}
}